.wrapper {
    width: 600px;
    height: 60vh;
}
.button svg {
    width: 33px;
    height: 33px;
}

.constructor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
}

.list {
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}



.item {
    width: auto;
    margin-bottom: 16px;
}


